@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #affc41;
  color: #3c1642;
  margin: 0 auto;
  font-family: 'Mukta', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.country-card {
  border: 2px solid #affc41;
  background-color: #81ba3164;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 7px;
  width: 30rem;


  &__name, &__region, &__area {
    margin: 0;
    padding: 3px 0 3px 15px;
  }
}

.countries {
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__pagination {
    display: flex;
    justify-content: center;
  }

  &__pagination--btn {
    margin: 2px;
    background-color: #3c1642;
    border: 1px solid #3c1642;
    font-family: 'Mukta', sans-serif;
    border-radius: 8px;
    color: #def4d8;
    font-weight: 600;
    cursor: pointer;
    width: 25px;
    font-size: 10px;
  }

  &__pagination--btn:hover {
    background-color: #6b2476;
    border: 1px solid #3c1642;
  }
}

.btn-container {
  margin-bottom: 10px;

  &__sortAZ, &__reset, &__sortOceania, &__sortLT {
    margin: 2px;
    padding: 5px;
    background-color: #3c1642;
    border: 1px solid #3c1642;
    font-family: 'Mukta', sans-serif;
    border-radius: 8px;
    color: #def4d8;
    font-weight: 600;
    cursor: pointer;
  }

  &__sortAZ:hover, &__reset:hover, &__sortOceania:hover, &__sortLT:hover {
    background-color: #6b2476;
    border: 1px solid #3c1642;
  }

}

