@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap");
@import "./styles/mixins";
@import "./styles/variables";

* {
  box-sizing: border-box;
}

body {
  background-color: $green-color;
  color: $purple-color;
  margin: 0 auto;
  font-family: $regular-font;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.country-card {
  background-color: #81ba3164;
  margin-bottom: 5px;
  border-radius: $border-radius-8;
  padding: 7px;
  width: 30rem;

  &__name,
  &__region,
  &__area {
    margin: 0;
    padding: 3px 0 3px 15px;

    @include mini-mobile {
      padding: 3px 0 3px 5px;
    }
  }
  @include mini-mobile {
    padding: 3px 0 3px 6px;
    width: 14rem;
  }

  @include mobile {
    width: 20rem;
  }
}

.countries {
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    @include mini-mobile {
      flex-wrap: wrap;
    }

    @include mobile {
      flex-wrap: wrap;
    }
  }

  &__pagination--btn {
    margin: 2px;
    background-color: $purple-color;
    border: $border-1 solid $purple-color;
    font-family: $regular-font;
    border-radius: $border-radius-8;
    color: $white-color;
    font-weight: 600;
    cursor: pointer;
    width: 25px;
    font-size: 10px;
  }

  &__pagination--btn:hover {
    background-color: $purple-hover-color;
    border: $border-1 solid $purple-color;
  }

  @include mini-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px 0 3px 6px;
    width: 14rem;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.btn-container {
  margin-bottom: 10px;

  &__sortAZ,
  &__reset,
  &__sortOceania,
  &__sortLT {
    margin: 2px;
    padding: 5px;
    background-color: $purple-color;
    border: $border-1 solid $purple-color;
    font-family: $regular-font;
    border-radius: $border-radius-8;
    color: $white-color;
    font-weight: 600;
    cursor: pointer;
  }

  &__sortAZ:hover,
  &__reset:hover,
  &__sortOceania:hover,
  &__sortLT:hover {
    background-color: $purple-hover-color;
    border: $border-1 solid $purple-color;
  }

  @include mini-mobile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
